{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Select Movie{% endblock %}

{% block content %}
<div class="container">
    {% if message == True: %}
    <h1 class="heading">Oops ! List Full</h1>
    <p> <h3>Your Top 10 list is full, Please delete any of the movies from the list if you want to add more.</h3> </p> <br>
    {% else: %}
    <h1 class="heading">{{movie.title}}</h1>
    <p> <h3><em>{{movie.title}}</em> is already in the list</h3> </p> <br>
    {% endif %}
    <a class="btn btn-primary" type="submit" href="{{url_for('home')}}">Home</a><br><br>

{% endblock %}
</div>
